body{
    background-color: black;
    color: white;
}
/* NAV */
.navbar{
    background-color: black;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    color: white;
    font-size: 1.5rem;
}
.nav-link{
    font-size: 1.5rem;
}

/* IND Banner */
.red{
    color: red;
}
.hand{
    position: relative;
    font-family: 'Satisfy', cursive;
    display: inline-block;
    font-size: 5em; 
}
.txtcnt {
    text-align: center;
    
}
.bannerh {
    font-size: 3em;
    color: yellow;
    
}
.bannerp {
    position: relative;
    font-size: 2.5em;

    color: yellow;
}
.neon {
    font-size: 80px;
    color: black;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px white, 0 0 30px grey, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
}
/* IND Jumbotron */

.jumbotron {

}
.tsty{
    text-align: center;
    font-size: 1.7rem;
}
.clickys{ 
    background-color: white;
    width: 75%;
    margin: 30px 0;

}
.tiles{
    text-align: center;
    font-size: 1.5rem;

    background-color: white;
    color: black;
}
.isz{ 
    font-size: 2.5rem;
    padding: 10px 0 10px 45px;
}

.enmban{
    width: 88%;
    height: 200px;
}
